*{
    margin: 20px
}

h1{
    color:grey

}

.homep{
    float: right;
    list-style:none;
}

.homep li {
    display: inline-block
}

.topic {
    font-size: 150%;
    font-family: 'Lato', sans-serif;

}

.top li a {
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Lato", "sans-serif";

}

.homep {
    background-color: #5bd7d7;
    border: none;
    color: black;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: relative;

}

#bottom {
    position: fixed;
    padding: 0;
    margin:0;

    bottom:0;
    left:0;

    /* display: block; */
    width: 100%;
    height: 45%;

    background-color: white;
}

body {
    background-image: url("bg4.jpeg");


}

p {
    font-size: 20px;
    font-family: "Lato", "sans-serif";
}


