body {
    background-color: #404040;
}

h1 {color: white; 
    font-family: 'Lato', sans-serif; 
    font-size: 80px; 
    font-weight: 900;
    font-weight:bold;
    position: relative;
    left:300px;
    top:25px;
}

h2 {color: #ff0080; 
    font-family: 'Lato', sans-serif;
    font-weight:900; 
    font-size: 30px; 
}

h3 {color: white; 
    font-family: 'Lato', sans-serif;
}


.back {
    background-color: #ff0080;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
    float: right;
}

.back:hover {
    background-color: white;
    color: #ff0080;
}

.button {
    background-color: #ff0080;
    border: none;
    color: white;
    padding: 10px 15px;
    /*text-align: center;*/
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
    float: right;
}

.button:hover {
    background-color: white;
    color: #ff0080;
}
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #ff0080;
}

/* selected link */
a:active {
    color: #ff0080;
}

