*{
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

/* Put your styles BELOW this line */

#Upper_half{
            position: fixed;
            padding:0;
            margin:0;

            top:0;
            left:0;

            /* display: block; */
            width: 100%;
            height: 62%;

        }

#Name{color: black;
      position:relative; 
      /* left: 40%; */
      top: 40%;    
    
    }

h1{text-align:center;}

#Bottom_half{
    position: fixed;
    padding: 0;
    margin:0;

    bottom:0;
    left:0;

    /* display: block; */
    width: 100%;
    height: 38%;

    background-color: #5bd7d7;
}

.Button{
        display: block;
        width: 115px;
        height: 25px;
        background: #4E9CAF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;

}
