*{
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

/* Put your styles BELOW this line */
header{
    background-image: url("hand.jpg")
}

body{
    font-family: 'Lato', sans-serif;    
}

#sign-up{
    opacity: 0.9;
}


#Upper_half{

            z-index: 0;

            position: fixed;
            padding:0;
            margin:0;

            top:0;
            left:0;

            /* display: block; */
            width: 100%;
            height: 62%;
            background-color: #333333;
            /* background-color: #1e7b7b; */

        }

#Name{color: black;
      position:relative; 
      /* left: 40%; */
      top: 50%;    
    
    }


#Slogan{
        /* color: #5bd7d7; */
        color: white;
        position: relative;
        top: 54%; }
    
h1{text-align:center;}
h3{text-align:center;}

#Bottom_half{

    z-index: 0;

    position: fixed;
    padding: 0;
    margin:0;

    bottom:0;
    left:0;

    /* display: block; */
    width: 100%;
    height: 38%;

    /* background-color: #5bd7d7; */
    /* background-color: #1e7b7b; */
    background-color: #1a1a1a;
}

.Button{


        z-index: 1;

        text-decoration-line: none;
        display: block;
        
        /* background-color: #f4511e; */
        border: none;
        /* color: white; */
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.5;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        
        /* width: 600px; */
        /* height: 250px; */
        /* background: rgb(255, 255, 255); */
        /* padding: 10px; */


        /* border-radius: 5px; */
        /* color:#5bd7d7; */
        /* font-weight: bold; */
        /* font-size: 45px; */
}


.Button:hover {opacity: 1}


#about{
    display: block;
    background-color: white;

}

p{
    text-align: center;
    position: relative;
    top:40%;
}


#Donate{
    width: 450px;
    height: 250px; 
    /* background:#1e7b7b; */
    /* background-color: white; */
    background-color: #262626;
    padding: 10px; 
    border-radius: 5px;
    color:#ff0080;
    font-weight: bold;
    font-size: 45px;

}
#get-donations{
    width: 450px;
    height: 250px; 
    /* background:#1e7b7b; */
    /* background-color: white; */
    background-color: #262626;
    padding: 10px; 
    border-radius: 5px;
    color:#ff0080;
    font-weight: bold;
    font-size: 45px;
}       


#sign{
    position: fixed;
    bottom:10px;
    left:15%;

    width:80%;
    height:38%;
}




#User{
    position:fixed;
    left:5%;
    top:66%;
}




#Company{
    position:fixed;
    right:5%;
    top:66%;
}

/* #donate{ */
    /* font-size: 50px; */
/* } */

/* #get_donations{
    font-size: 50px;
} */

#about{
    color: #1e7b7b;
    text-decoration-line: none;
    display:block;
    width: 80px;
    height: 25px;
    background-color:white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;

    position: fixed;
    right: 10px;

    
}

/* #log-in{
    width: 80px;
    height: 30px;
    background-color: white;    
    position: fixed;
    top: 49%;
    left: 700px; */



/* #sign-up{
    width: 80px;
    height: 30px;
    background-color: white;
    position: fixed;
    top: 49%;
    left:1153px;
    background-color: white; */



#sign{
    width: 80px;
    height:30px;
    display: block;
    background-color: white;
    text-decoration-line: none;
    position: fixed;
    text-align: center;
    left: 40%;
    top: 50%;
}

#sign-up{
    position: relative;
    left:0%;
    top:22%;
    color:black;
    text-align: center;
    
}

#log-in{
    position:relative;
    left: 0%;
    top:22%;
    color:black;
    text-align: center;
}


#log{
    width: 80px;
    height:30px;
    display: block;
    background-color: white;
    text-align: center;
    text-decoration-line: none;
    position: fixed;
    right: 40%;
    top: 50%;
    
}

