*{
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

/* Put your styles BELOW this line */
header{
    background-image: url("hand.jpg")
}

body{
    font-family: 'Lato', sans-serif;    
}

/* #home_button{
    margin-left: 50%;
} */

#navbar{
    width: 100%;
    height: 34px;
    background-color: #262626;
}

#navbar,a{
    color: white;
}



.nav{
    position: relative;
    width: 70px;
    margin-right: 12px;
    height: 100%;
    position: relative;
    text-align: center;
    top:5px;
    background-color: #262626;
    color:#ff0080;

    display:inline-block;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;

}
.nav:hover{
    opacity: 1;
    background-color:#0d0d0d; 
}

#home_button{
    background-color:#0d0d0d;
}


ul{
    list-style-type:none;
}



.block{
    text-decoration-line: none;
    text-decoration: none;
    text-align: center;

}


/* #Upper_half{

            z-index: 0;

            position: fixed;
            padding:0;
            margin:0;

            top:0;
            left:0;

            /* display: block; */
            /* width: 100%;
            height: 62%;
            background-color: #333333; */
            /* background-color: #1e7b7b; */

        /* } */

@keyframes example{
    from{background-color:#ff0080;}
    to{background-color:#800040;}
}


@keyframes slide{
    0%{background-image: url("../static/1.png");}
    12.5%{background-image: url("../static/2.png");}
    25%{background-image: url("../static/3.png");}
    37.5%{background-image: url("../static/4.png");}
    50%{background-image: url("../static/5.png");}
    62.5%{background-image: url("../static/6.png");}
    75%{background-image: url("../static/7.png");}
   87.5%{background-image: url("../static/8.png");}
   100%{background-image: url("../static/1.png");}
}


#Upper_half {
            z-index: 3;
            position: fixed;
            width: 100%;
            height: 62%;
            background-color: #ff0080;
            /* animation-name: example;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate; */
            animation: example 2s infinite alternate, slide 4s infinite normal;
        }
        

#Name{color: white;
      position:relative; 
      /* left: 40%; */
      top: 44%;    
    
    }


#Slogan{
        /* color: #5bd7d7; */
        color: white;
        position: relative;
        top: 50%; }

    
h1{text-align:center;}
h3{text-align:center;}


#Bottom_half{

    z-index: 0;

    position: fixed;
    padding: 0;
    margin:0;

    bottom:0;
    left:0;

    /* display: block; */
    width: 100%;
    height: 38%;

    /* background-color: #5bd7d7; */
    /* background-color: #1e7b7b; */
    background-color: #1a1a1a;
}



@keyframes buttons{
    0%{
        transform:scale(1);
    }
    60%{
        transform:scale(0.88);
    }
    100%{
        transform: scale(1);
    }
}

.Button{


        z-index: 1;

        text-decoration-line: none;
        display: block;
        
        /* background-color: #f4511e; */

        border: none;
        /* color: white; */
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.5;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        
        /* width: 600px; */
        /* height: 250px; */
        /* background: rgb(255, 255, 255); */
        /* padding: 10px; */


        /* border-radius: 5px; */
        /* color:#5bd7d7; */
        /* font-weight: bold; */
        /* font-size: 45px; */
}

#sign-up{
    opacity: 0.9;
}



.Button:hover {opacity: 1;
}




#about{
    display: block;
    background-color: white;

}

p{
    text-align: center;
    position: relative;
    top:40%;
}


#Donate{
    width: 500px;
    height: 180px; 
    /* background:#1e7b7b; */
    /* background-color: white; */
    background-color: #1a1a1a;
    padding: 10px; 
    border-radius: 5px;
    color:#ff0080;
    font-weight: bold;
    font-size: 45px;

}
#get-donations{
    width: 500px;
    height: 180px; 
    /* background:#1e7b7b; */
    /* background-color: white; */
    background-color: #1a1a1a;
    /* opacity: 0.6;
    transition-duration: 0.5s; */
    padding: 10px; 
    border-radius: 5px;
    color:#ff0080;
    font-weight: bold;
    font-size: 45px;
}       
/* #get-donations:hover{
    opacity:1;
} */

.glow{
    z-index: 100;
    position: relative;
    text-align: center;
    /* top:0%; */
    font-size: 45px;
    opacity: 1;
}


#sign{
    position: fixed;
    bottom:10px;
    left:15%;

    width:80%;
    height:38%;
}




#User{
    position:fixed;
    left:5%;
    top:64%;
    height: 38%;
}




#Company{
    position:fixed;
    right:5%;
    top:64%;
    height: 38%;
}

/* #donate{ */
    /* font-size: 50px; */
/* } */

/* #get_donations{
    font-size: 50px;
} */

#about{
    color: #1e7b7b;
    text-decoration-line: none;
    display:block;
    width: 80px;
    height: 25px;
    background-color:white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;

    position: fixed;
    right: 10px;

    
}

/* #log-in{
    width: 80px;
    height: 30px;
    background-color: white;    
    position: fixed;
    top: 49%;
    left: 700px; */



/* #sign-up{
    width: 80px;
    height: 30px;
    background-color: white;
    position: fixed;
    top: 49%;
    left:1153px;
    background-color: white; */



#sign{
    width: 40px;
    height:10px;
    display: block;
    background-color: white;
    text-decoration-line: none;
    position: fixed;
    text-align: center;
    top: 55%;
    left: 40%;
}

#sign-up{
    position: relative;
    left:0%;
    top:-30%;
    color:black;
    text-align: center;
    font-size: 12px;

    
}

#sign:hover{
    animation-name: buttons;
    animation-duration:0.4s;
}


#log:hover{
    animation-name: buttons;
    animation-duration:0.4s;
}

#log-in{
    position:relative;
    left: 0%;
    top:-35%;
    color:black;
    text-align: center;
    font-size: 12px;
}

#name{
    color: white;
    opacity: 0.6;
    z-index: 100;
    position: fixed;
    top: 10.5%;
    left: 2%;
}
#log{
    width: 40px;
    height:10px;
    display: block;
    background-color: white;
    text-align: center;
    text-decoration-line: none;
    position: fixed;
    right: 40%;
    top: 55%;
    
}

