body{
    background-image: url("bg4.jpeg");
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 50%; 

}
.thing{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1.topic {
    margin-left: auto;
    margin-right: auto;
    width: 8em
} 

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 300%;
    color:#5bd7d7;
    position: relative;
    left:30%;
}


.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    display:inline-block; 
    left: 20%;
    
}

.container img {
    width: 100%;
    height: 200px;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.container .btn:hover {
    background-color: #5bd7d7;
    color: white;
}

#link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.homep{
    float: right;
    list-style:none;
}
.homep {
    background-color: #5bd7d7;
    border: none;
    color: black;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: relative;


}