
body {
    background-color: #404040;
}
.thing{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


h1 {
    color:white;
    font-weight:900;
    position: relative;
    left:200px;
    top:50px;
    font-family: "Lato", "sans-serif";
}


.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    display:inline-block; 
    left: 50px;
    top:70px;
}

.container img {
    width: 100%;
    height: 200px;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.container .btn:hover {
    background-color: #ff0080;;
    color: white;
}

#link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.homep{
    float: right;
    list-style:none;
    right:5%;
}
.homep {
    background-color: #ff0080;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}


.profile{
    float: left;
    list-style:none;
}
.profile{
    background-color: #ff0080;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}