<html>
    <head>
        <title>ABOUT</title>
        <link rel="stylesheet" type="text/css" href='../static/aboutstyle.css'>
    </head>
    <body>
        <div id="above">
            <header>
                <div class="row">
                <ul class="top">
                <li class="homep"><a href="home.html">HOME</a></li></div>
                </ul>
                </div>
            </header>
            <div class="topic">
                <h1>About</h1>
            </div>

        <br>
        <p> TerDonators was created by a unique group of Y2 MEET students.</p>
        <p>The main aim of the website is to make the donation experiece more efficient for donators and organizations.
        </p>
        </div>

        <div id="bottom">
            

        </div>
    </body>
</html>