<html>
    <head>
        <title>ABOUT</title>
        <link rel="stylesheet" type="text/css" href='../static/aboutstyle.css'>
    </head>
    <body>
        <div id="above">
            <header>
                <div class="row">
                <ul class="top">
                <li class="homep"><a href="/">HOME</a></li>
                </ul>
                </div>
            </header>
                
            
            <div class="topic">
                <h1>About Us</h1>
            </div>
        

        <br>
        <p id="description1"> TerDonators was created by a unique group of Y2 MEET students.</p>
        <p id="description2">The main aim of the website is to make the donation experience more efficient for donators and organizations.
        </p>
        </div>

        <div id="bottom">
            <div class="carmi">
                <img class="resize1" src="{{url_for('static',filename ='carmi.jpeg')}}">
                <div class="aboutcarmi">
                    <p class="p1">Head developer</p>
                </div>

            </div>
            <div class="derin">
                <img class="resize2" src="{{url_for('static',filename ='derin.jpeg')}}">
                <div class="aboutderin">
                    <p class="p2">Designer</p>
                </div>

            </div>
            <div class="raheeq">
                <img class="resize3" src="{{url_for('static',filename ='raheeq.jpeg')}}">
                <div class="aboutraheeq">
                    <p class="p3">Designer</p>
                </div>
            </div>
            <div class="tamer">
                    <img class="resize4" src="{{url_for('static',filename ='tamer.jpeg')}}">
                    <div class="abouttamer">
                        <p class="p4">Designer</p>
                    </div>
                </div>

        </div>

      
    </body>
</html>