<!DOCTYPE html>
<html>
    <head>
        <title>Terdonators</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        
            <ul>
                    <li ><a href=""> ABOUT </a></li>
                </ul>

        <div id="Upper_half">
            <div id="Logo"></div>
            <div id="Name"></div>
            <div id="Slogan"></div>
        </div>


        <div id="Bottom_half">
            <div id="User"></div>
            <div id="Company"></div>
            
        </div>

        
    </body>
</html>
