<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

 
</head>

<body>

        <link rel="stylesheet" type="text/css" href='../static/style.css'>
    
        <ul style="list-style-type:none">
        <div id="navbar">
        <div class="nav" id="home_button">
        <li><a href="/" class="block" >Home</a></li></div>
        <div class="nav"><li><a href="/login" class="block">log in</a></li></div>
        <div class="nav"><li><a href="/adduser" class="block">sign up</a></li></div>
        <div class="nav"><li><a href="/about" class="block">About</a></li></div>
    </div> 
      </ul>

    <!-- <div class="Top_right">
        <a href="/about" class="Button" id="about">About Us</a>
    </div> -->

    <!-- <ul>
        <li>
            <a href=""> ABOUT </a>
        </li>
    </ul> -->

    <div id="Upper_half">

        <!-- <img src="../static/pattern.png"> -->
        <div id="Logo"></div>
        <div id="Name">
            <h1>Donatework</h1>
        </div>
        <div id="Slogan">
            <h3>"Great things are done by a series of small things brought together"
                <br> Vincent Van Gogh</h3>
        </div>
        <!-- <div id="position"> -->
            <!-- <div> -->
                <a class="Button" href="/login" id="log"><p id="log-in">log in</p></a>
            <!-- </div> -->
            <!-- <div> -->
                <a class="Button" href="/adduser" id="sign"><p id="sign-up">sign up</p></a>

            <!-- </div> -->
        <!-- </div> -->
        <!-- <h3>We are a website aiming to be the middle man -->
            <!-- <br>between donors and non-profit organizations... </h3> -->
    </div>

    <!-- <a href="/home" class="Button">This is a test</a> -->
    <div id="Bottom_half">
        <!-- <div id="sign"> -->
        <div id="User">
            <a class="Button" id="Donate" href="/choice">
                <p class="glow">Donate
                </p>

            </a>
        </div>
        <div id="Company">
            <a class="Button" id="get-donations" href="/addcompany">
                <p class="glow">Add company
                    </p>
    
            </a>

        </div>
        <!-- </div> -->
    </div>
    <!-- <div id="button_DONATE"><button>DONATE<button></div> -->
    <!-- <div id="button_DONATE">
            <form action="donate_something"></form>
        </div> -->
    <!-- <div id="button_COMPANY"> -->
    <!-- <button >COMPANY -->
    <!-- <button> -->

    </div>


    </div>


</body>

</html>