<!DOCTYPE html>
<html>

<head>
    <title>Terdonators</title>
    <link rel="stylesheet" type="text/css" href='../static/style.css'>

</head>

<body>

    <!-- <ul>
        <li>
            <a href=""> ABOUT </a>
        </li>
    </ul> -->

    <div id="Upper_half">
        <div id="Logo"></div>
        <div id="Name">
            <h1>Terdonators</h1>
        </div>
        <div id="Slogan">
            <h3>Our slogan is supposed to be here but I'm righting this
                <br> just to test if it works</h3>
        </div>
    </div>

    <!-- <a href="/home" class="Button">This is a test</a> -->
    <div id="Bottom_half">
        <!-- <div id="sign"> -->
            <div id="User">
                <a class="Button" id="Donate" href="/choice">Click here to donate

                </a>
            </div>
            <div id="Company">
                <a class="Button" id="get_donations" href="/addcompany">Click here to list your company

                </a>

            </div>
            <!-- </div> -->
        </div>
        <!-- <div id="button_DONATE"><button>DONATE<button></div> -->
        <!-- <div id="button_DONATE">
            <form action="donate_something"></form>
        </div> -->
        <!-- <div id="button_COMPANY"> -->
        <!-- <button >COMPANY -->
        <!-- <button> -->

    </div>


    </div>


</body>

</html>