<!DOCTYPE html>
<html>
    <head>
        <title>{%block title%}{%endblock%}</title>
        {%block css%}{%endblock%}
    </head>
    <body>
        {%block navbar%} 
                <ul style="list-style-type:none">
                <div id="navbar">
                <div class="nav" id="home_button">
                <li><a href="/" class="block">Home</a></li></div>
                <div class="nav"><li><a href="/login" class="block">log in</a></li></div>
                <div class="nav"><li><a href="/adduser" class="block">sign up</a></li></div>
                <div class="nav"><li><a href="/about" class="block">About</a></li></div>
        
            </div> 
              </ul>{%endblock%}
        {%block body%}{%endblock%}
    </body>
</html>