<!DOCTYPE html>
<html>
    <head>
        <title>Userpage</title>
        <link rel="stylesheet" type="text/css" href="../static/userstyle.css">
    </head>



    <body>

        <div id="logo"></div>
        
        <h1>What Would You Like To Donate? </h1>
       
        <div class="container">
            <img src="food.jpg" alt="food" style="width:100%">
            <button class="btn">FOOD</button>
        </div>

        <div class="container">
            <img src="clothes.jpg" alt="clothes" style="width:100%">
            <button class="btn">CLOTHES</button> 
        </div>
        
        <div class="container">  
            <img src="money.jpg" alt="money" style="width:100%">
            <button class="btn">MONEY</button>   
        </div>





    </body>



    </html>