<!DOCTYPE html>
<html>
    <head>
        <title>Userpage</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'userstyle.css')}}">
    </head>



    <body>

        <div id="logo"></div>
        
        <a class="btn" href="/profile">FOOD</a>
        <h1>What Would You Like To Donate? </h1>
       
        <div class="container">
            <img src="{{url_for('static',filename ='food.jpg')}}" alt="food" style="width:100%">
            <a class="btn" href="/donate/food">FOOD</a>
        </div>

        <div class="container">
            <img src="{{url_for('static',filename ='clothes.jpg')}}" alt="clothes" style="width:100%">
            <a class="btn" href="/donate/clothes">CLOTHES</a> 
        </div>
        
        <div class="container">  
            <img src="{{url_for('static',filename ='money.jpg')}}" alt="money" style="width:100%">
            <a class="btn" href="/donate/money">MONEY</a>   
        </div>





    </body>



    </html>